

.btn-primary1 {
    background-color: green;
    color: aliceblue;
}

.btn-primary2 {
    background-color: hotpink;
    color: black;
}

.btn-primary3 {
    background-color: chocolate;
    color: blanchedalmond;
}

.index-imagen {
    text-align: center;
}



.carousel-item img {
    width: 50%;
    height: 300px;
}

.row {
    padding: 10px;
    margin-top: 3px;
}