.card {
    margin-bottom: 15px;
    
    .btn-primary1 {
        background-color: green;
        color: aliceblue;
    }
    
    .btn-primary2 {
        background-color: hotpink;
        color: black;
    }
    
    .btn-primary3 {
        background-color: chocolate;
        color: blanchedalmond;
    }
    
    .index-imagen {
        text-align: center;
    }
}