header nav {
    font-size: 18px;
    padding: 5px;

    
    ul {
        display: flex;
        flex-direction: row;
        width: 90%;
        justify-content: flex-end;
        padding: 5px;
    }

}


